.page-container {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav {
        margin-top: 20px;
    }

    .feature-container {
        width: 100%;
        height: 100%;
    }
}
