<div class="container" *ngIf="fixtureNavigationClicked == false">
    <div class="standings-header-container">
        <div></div>
        <div></div>
        <div class="medium">Name</div>
        <div>Games</div>
        <div>W</div>
        <div>L</div>
        <div>D</div>
        <div class="medium">Goal Difference</div>
        <div>Points</div>
    </div>
    <div class="standings-container" *ngIf="leaugeStandings$ | async as leaugeStandings">
        <ls-standing
            *ngFor="let standing of leaugeStandings.standings[0]"
            [standing]="standing"
            (teamId)="goToFixtures($event)"></ls-standing>
    </div>
</div>
<div class="fixturesContainer" *ngIf="fixtureNavigationClicked">
    <ls-team-matches-view (backClicked)="resetView()"></ls-team-matches-view>
</div>
